<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>管理员登录</title>
<load href="__PUBLIC__/Css/bootstrap.min.css"/>
<load href="__PUBLIC__/Js/md5.js"/>
<load href="__PUBLIC__/Js/jquery.js"/>
<load href="__PUBLIC__/Js/bootstrap.min.js"/>
<script type="text/jscript">
var rand="__URL__/randimg";
</script>
<load href="__PUBLIC__/Js/user.js"/>
    <style type="text/css">
        body {
            background-color:#000000;
        }
        .panel_box{
            position:absolute;
            top:50%;
            transform:translate(0%,-50%);
        }
        .mainback{
            position:static;
        }
    </style>
</head>

<body>
<div class="container">
	<div class="row">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-6 mainback">
            <div class="panel panel-default panel_box">
                <div class="panel-heading">
                    登录
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="userform" action="__URL__/adminlogin" method="post">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">用户名</label>
                            <div class="col-xs-9">
                            <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">密码</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control" name="userpwd" id="userpwd" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">验证码</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="rand" id="rand" placeholder="请输入验证码">
                            </div>
                            <div class="col-xs-5"><img id="randimg" class="img-responsive" src="__URL__/randimg" /></div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9 col-xs-offset-2">
                                <button class="btn btn-default" type="submit">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
