<layout name="../Tpl/layout" />
<script>
	var path="__URL__";
</script>
<load href="__PUBLIC__/Js/admin/showadmin.js"/>
<div class="container">
    <div class="row">
        <h1>管理员</h1>
        <div class="panel panel-default">
        	<div class="panel-body">
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal2"><span class="glyphicon glyphicon-plus-sign"></span> 添加管理员</button>
            </div>
        </div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name='adminlist' id='vo'>
                <tr>
                    <td>{$vo.userid}</td>
                    <td>{$vo.username}</td>
                    <td>
                        <button class="delmember btn btn-danger btn-sm" uid="{$vo.userid}"><span class="glyphicon glyphicon-minus-sign"></span> 撤销管理权限</button>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>
    </div>
      <script type="text/javascript">
     $(document).ready(function(e) {
		 var group="{$Think.get.teamid|default=''}";
         var str="";
         if(group!=""){
            str="/teamid/"+group;
         }
        $("#pagebox").Jpager({
            url:"__ACTION__"+str,
            view:3
            });
    });
     </script>
        <div class="row text-center">
            <ul class="pagination" id="pagebox" count="{$pagedata.count}" now="{$pagedata.now}"></ul>
        </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labeledby="titleLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="titleLabel2">添加管理员</h4>
            </div>
            <div class="modal-body">
                 <div class="input-group">
                    <span class="input-group-addon">用户ID</span>
                    <input type="text" id="adminid" class="form-control" placeholder="请输入用户的数字ID">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" id="addadmin" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>