<layout name="../Tpl/layout" />
<load href="__PUBLIC__/Js/md5.js"/>

<script type="text/javascript">
	var path="__URL__";
</script>
<load href="__PUBLIC__/Js/admin/showuser.js"/>
<div class="container">
    <div class="row">
        <h1>详细信息 <small>{$userinfo.username}</small></h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="__URL__/updateuser" method="post">
                    <input type="hidden" id="userid" value="{$userinfo.userid}" name="userid"/>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">用户名</label>
                        <div class="col-xs-4 form-control-static">{$userinfo.username}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">邮箱</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control" name="useremail" value="{$userinfo.useremail}" placeholder="请输入邮箱"/>
                        </div>
                    </div>
                    <eq name="admintype" value="3">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">密码</label>
                        <div class="col-xs-4" id="pwdbox">
                            <button type="button" id="resetpwd" class="btn btn-danger btn-block">重置密码</button>
                        </div>
                    </div>
                    </eq>
 					 <div class="form-group">
                        <label class="col-xs-2 control-label">当前所在组</label>
                        <div class="col-xs-4 form-control-static">{$userinfo.teamname}</div>
                    </div>         
                    <div class="form-group">
                        <div class="col-xs-1 col-xs-offset-2">
                            <button type="button" class="btn btn-default" onclick="window.history.back(-1);">返回</button>                        
                        </div>
                        <div class="col-xs-1">
                         <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>