<layout name="../Tpl/layout" />
    <div class="container">
        <div class="row">
	        <h1>用户列表-{$list_title}</h1>
             <div class="panel panel-default">
            <div class="panel-body">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="group_dropdown" data-toggle="dropdown">
                        按组筛选
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="group_dropdown">
                        <li role="presentation"><a role="menuitem" href="__URL__/showlist">全部</a></li>
                        <volist name="grouplist" id="vo">
                        <li role="presentation"><a role="menuitem" href="__URL__/showlist/group/{$vo.teamid}">{$vo.teamname}</a></li>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
            <table class="table table-striped table-bordered">
            <thead>
            	<tr>
                	<th>ID</th>
                    <th>用户名</th>
                    <th>注册时间</th>
                    <th>所属组别</th>
                    <th>用户权限</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="userlist" id="vo">
                <tr class="{$vo['usertype']=='2'?'warning':($vo['usertype']=='1'?'success':'')}">
                	<td>{$vo.userid}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.regtime}</td>
                    <td>{$vo.teamname}</td>
                    <td>{$vo['usertype']=='2'?'管理员':($vo['usertype']=='1'?'汉化组成员':'普通用户')}</td>
                    <td>Test</td>
                </tr>
             </volist>
            </tbody>
            </table>

		</div>
	 <script type="text/javascript">
     $(document).ready(function(e) {
         var group="{$Think.get.group|default=''}";
         var str="";
         if(group!=""){
            str="/group/"+group;
         }
         
        $("#pagebox").Jpager({
            url:"__ACTION__"+str,
            view:3
            });
    });
     </script>
    <div class="row text-center">
   		<ul class="pagination" id="pagebox" count="{$pagedata.count}" now="{$pagedata.now}"></ul>
    </div>
</div>